.video {
    background-color: rgb(193, 193, 193);
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    aspect-ratio: 16/9;
    margin-top: 100px;
    position: relative;
    max-width: 1000px;

}

body {
    margin: 0;
    padding: 0;
    height: 200vh;
}
h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 10;
}

.actual-video {
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    aspect-ratio: 16/9;
    margin-top: 0%;
}